.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Home */
#home{
  background: rgb(0, 101, 219);
  background: linear-gradient(90deg, rgb(0,101,219) 50%, rgba(0, 212,255,1) 100%);
  min-height: 600px;
};

/* Cards */
.card{
  transition: all 0.5s ease;
}
.card:hover{
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

/* Form */
.form{
  background: rgb(0, 101, 219);
  background: linear-gradient(90deg, rgb(0,101,219) 40%, rgba(0, 212,255,1) 100%);
}

p {
  
}