.popularproject-wrapper {
    margin-top: 20px;
    border: 0.5px solid rgba(84, 84, 84,0.5);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
}

.describetext {
    display: flex;
    justify-content: space-between;
}

.describetext > p {
    color: rgb(51, 53, 55);
    font-size: 17px;
    margin-left: 25px;
    margin-right: 25px;
}