.searchbox-wrapper {
    background-color: #efefefbd;
    height: 3.5vh;
    width: 300px;
    display: flex;
    align-items: center;
}

.searchbox-wrapper > input {
    margin-left: 15px;
    width: 80%;
    height: 70%;
    background-color: transparent;
    border: none;
}

.searchbox-wrapper > span {
    margin-top: 5px;
    margin-left: 5px;
}